<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./lib/modal-video/css/modal-video.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/course.css" />
  </head>
  <body>
    <header class="border-bottom">
      <nav
        class="navbar navbar-expand-sm navbar-light bg-light"
        id="navBar"
      ></nav>
    </header>
    <!-- <nav aria-label="breadcrumb">
      <div class="container-fluid">
        <ol class="breadcrumb bg-white mb-0 py-2">
          <li class="breadcrumb-item">
            <a href="#"><i class="fa fa-home mr-1"></i> Development</a>
          </li>
          <li class="breadcrumb-item"><a href="#">Programming Languages</a></li>
          <li class="breadcrumb-item active" aria-current="page">Python</li>
        </ol>
      </div>
    </nav> -->
    <!-- BEGIN BANNER -->
    <section class="course-banner">
      <div class="container">
        <h1>Shopping Cart</h1>
      </div>
    </section>

    <section class="course-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <!-- BEGIN CART -->
            <ul
              class="course-desc-items"
              style="list-style-type: none"
              id="itemList"
            >
              <li style="border-style: solid; margin: 1em">
                <div class="row">
                  <div class="col-md-2">
                    <img
                      style="padding: 2px"
                      height="70"
                      src="https://i.udemycdn.com/user/200_H/anonymous_3.png"
                    />
                  </div>
                  <div class="col-md-6">
                    <span
                      ><strong>
                        The Complete 2021 Flutter Development Bootcamp with
                        Dart</strong
                      >
                    </span>
                    <br />
                    <span
                      ><small>
                        Dr.Angela Yu, Developer and Lead Instructor</small
                      ></span
                    >
                  </div>
                  <div class="col-md-2">
                    <a href="#" class="text-end">Remove</a>
                  </div>
                  <div class="col-md-2">
                    <span style="color: red; font-weight: bold"
                      >1.600.000 đ</span
                    >
                    <span class="text-decoration-line-through"
                      ><small><del>2.600.600 đ</del></small>
                    </span>
                  </div>
                </div>
              </li>
              <li style="border-style: solid; margin: 1em">
                <div class="row">
                  <div class="col-md-2">
                    <img
                      style="padding: 2px"
                      height="70"
                      src="https://i.udemycdn.com/user/200_H/anonymous_3.png"
                    />
                  </div>
                  <div class="col-md-6">
                    <span
                      ><strong>
                        The Complete 2021 Flutter Development Bootcamp with
                        Dart</strong
                      >
                    </span>
                    <br />
                    <span
                      ><small>
                        Dr.Angela Yu, Developer and Lead Instructor</small
                      ></span
                    >
                  </div>
                  <div class="col-md-2">
                    <a href="#" class="text-end">Remove</a>
                  </div>
                  <div class="col-md-2">
                    <span style="color: red; font-weight: bold"
                      >1.600.000 đ</span
                    >
                    <span class="text-decoration-line-through"
                      ><small><del>2.600.600 đ</del></small>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="course-buy">
              <h2>Total</h2>
              <h2 class="mb-4 font-weight-bold">
                <span id="promotionPrice">1.200.000 đ</span>

                <small id="price">1.600.000 đ</small>
              </h2>
              <button class="btn btn-danger w-100">Check out</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-4 mt-4 text-center border-top">
      <span>Copyright © 2019 Cybersoft, Inc.</span>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./lib/jquery/jquery.slim.min.js"></script>
    <script src="./lib/popper.js/popper.min.js"></script>
    <script src="./lib/bootstrap/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../admin/assets/js/auth/signUp.js"></script>
    <script src="../admin/assets/js/user/login.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Control js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../Elearning/js/main.js"></script>
    <script src="../Elearning/js/cart.js"></script>
  </body>
</html>
